body{
  overflow-y:hidden;
  overflow-x: hidden;
  font-family: 'PT Sans', sans-serif !important;
  background-image:url("../media/bg.jpg");
  background-size: cover;
}



.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  background-color: #9523ff !important;
  border: 0px;
}
.btn:hover{
  text-decoration: none !important;
}

.form-range{
  width:100%;
}

h1{
  font-size:4rem !important;
}

h2{
  font-size:2rem !important;
}

@media (min-width:576px) {
  h1{
    font-size: 6rem !important;
  }
  h2{
    font-size: 3.5rem !important;
  }
}



.x{
  font-weight: 700 !important;
  max-width: 80%;
  animation: fadeIn 3s linear;
}

.y{
  font-weight: 100 !important;
  font-style: italic;
  max-width: 70%;
  animation: fadeIn 3s linear;

}


.formTextbox{
  width:100%;
  justify-content: center;
  align-items: center;
}


@keyframes fadeIn {
  0% {
    opacity: 0%;
    transform: translateY(-10%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0%;
    transform: translateY(-10%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

#home{
  animation: fadeIn 3s ease;
  -webkit-animation: fadeIn 3s ease;
  height: -o-calc(100vh - 54px); /* opera */
  height: -webkit-calc(100vh - 54px); /* google, safari */
  height: -moz-calc(100vh - 54px); /* firefox */
}


#inp{
    width: 80%;
    animation: fadeIn 3s ease;
    -webkit-animation: fadeIn 3s ease;
    height: -o-calc(100vh - 54px); /* opera */
    height: -webkit-calc(100vh - 54px); /* google, safari */
    height: -moz-calc(100vh - 54px); /* firefox */
}