<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Antic'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static "/app/index/styles.css"%}">
  <title>strol.</title>
</head>
<body>
  <nav class="navbar sticky-top navbar-expand-xl navbar-dark" style="background-color: #6E2FD9;">
    <a class="navbar-brand" href="#">
      <img src="{% static "/app/media/logo.png"%}" width="100">
    </a>
  </nav>
  <div id="home" class="container-fluid d-flex flex-column justify-content-center align-items-center">
    <h1 class="display-1 text-center x">
      Welcome to <strong>strol.</strong>  
    </h1>
    <h2 class="display-4 text-center x">
      An online tool that will help map your next journey.
    </h2>
    <div style="height: 2vh"></div>
    <a href="main.html"><button type="button" style="width:60vw;" class="btn btn-primary btn-lg btn-block">Get Started</button></a>
  </div>
</body>
</html>


<!-- Using strol. is easy! Simply enter the location that you would like to start your journey from, the distance that you would like to travel, and let us generate a path for you! -->