<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_b344bdaac3ed48d3a4bcbc5058ad0f1f {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_b344bdaac3ed48d3a4bcbc5058ad0f1f" ></div>
        
</body>
<script>    
    
            var map_b344bdaac3ed48d3a4bcbc5058ad0f1f = L.map(
                "map_b344bdaac3ed48d3a4bcbc5058ad0f1f",
                {
                    center: [44.22305263656978, -76.4917272774744],
                    crs: L.CRS.EPSG3857,
                    zoom: 1,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_68c97f4533624ed9825617d2f1157ca4 = L.tileLayer(
                "https://cartodb-basemaps-{s}.global.ssl.fastly.net/light_all/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors \u0026copy; \u003ca href=\"http://cartodb.com/attributions\"\u003eCartoDB\u003c/a\u003e, CartoDB \u003ca href =\"http://cartodb.com/attributions\"\u003eattributions\u003c/a\u003e", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_b344bdaac3ed48d3a4bcbc5058ad0f1f);
        
    
            var poly_line_4dae990d2eb84e9187f6aae05335ee70 = L.polyline(
                [[44.2225464, -76.4857335], [44.2223621, -76.4858694], [44.2222547, -76.4862487], [44.222199, -76.4865323], [44.2222819, -76.4866822], [44.2228881, -76.4872634], [44.2229552, -76.4873724], [44.2237548, -76.488177], [44.2237746, -76.488197]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_b344bdaac3ed48d3a4bcbc5058ad0f1f);
        
    
        var popup_4773e576395346a28af9cae5c6094e76 = L.popup({"maxWidth": "100%"});

        
            var html_3e89ed781e0d4384994286016682b26e = $(`<div id="html_3e89ed781e0d4384994286016682b26e" style="width: 100.0%; height: 100.0%;">299.76800000000003</div>`)[0];
            popup_4773e576395346a28af9cae5c6094e76.setContent(html_3e89ed781e0d4384994286016682b26e);
        

        poly_line_4dae990d2eb84e9187f6aae05335ee70.bindPopup(popup_4773e576395346a28af9cae5c6094e76)
        ;

        
    
    
            var poly_line_3dea13c6943e446aad3c1248aecbe643 = L.polyline(
                [[44.2237746, -76.488197], [44.2232885, -76.4891626]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_b344bdaac3ed48d3a4bcbc5058ad0f1f);
        
    
        var popup_74f60fc1d02847b3985f22fbb6ede9ac = L.popup({"maxWidth": "100%"});

        
            var html_5fae0d08976a4eed80457950cb19885e = $(`<div id="html_5fae0d08976a4eed80457950cb19885e" style="width: 100.0%; height: 100.0%;">94.032</div>`)[0];
            popup_74f60fc1d02847b3985f22fbb6ede9ac.setContent(html_5fae0d08976a4eed80457950cb19885e);
        

        poly_line_3dea13c6943e446aad3c1248aecbe643.bindPopup(popup_74f60fc1d02847b3985f22fbb6ede9ac)
        ;

        
    
    
            var poly_line_07d1bfd6731143da96662939938cce97 = L.polyline(
                [[44.2232885, -76.4891626], [44.2233197, -76.4891951]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_b344bdaac3ed48d3a4bcbc5058ad0f1f);
        
    
        var popup_e05d2710c56145a39ce4d7ba6e39fa17 = L.popup({"maxWidth": "100%"});

        
            var html_c556479d7b4048e7aa4366bcf5efae09 = $(`<div id="html_c556479d7b4048e7aa4366bcf5efae09" style="width: 100.0%; height: 100.0%;">4.329</div>`)[0];
            popup_e05d2710c56145a39ce4d7ba6e39fa17.setContent(html_c556479d7b4048e7aa4366bcf5efae09);
        

        poly_line_07d1bfd6731143da96662939938cce97.bindPopup(popup_e05d2710c56145a39ce4d7ba6e39fa17)
        ;

        
    
    
            var poly_line_0481d10cfd644095aac46cda15b1dd65 = L.polyline(
                [[44.2233197, -76.4891951], [44.2232995, -76.4892356]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_b344bdaac3ed48d3a4bcbc5058ad0f1f);
        
    
        var popup_dd5b28630c2c46519626f53c1f422785 = L.popup({"maxWidth": "100%"});

        
            var html_21532d970e524b319d90d4baaf4bbe7c = $(`<div id="html_21532d970e524b319d90d4baaf4bbe7c" style="width: 100.0%; height: 100.0%;">3.932</div>`)[0];
            popup_dd5b28630c2c46519626f53c1f422785.setContent(html_21532d970e524b319d90d4baaf4bbe7c);
        

        poly_line_0481d10cfd644095aac46cda15b1dd65.bindPopup(popup_dd5b28630c2c46519626f53c1f422785)
        ;

        
    
    
            var poly_line_4c8082192e614e3b87e56648b6d32be6 = L.polyline(
                [[44.2232995, -76.4892356], [44.2229648, -76.4899015]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_b344bdaac3ed48d3a4bcbc5058ad0f1f);
        
    
        var popup_1d85b6add1df476eb4406aea62e93fa1 = L.popup({"maxWidth": "100%"});

        
            var html_79d92cb4ee8e4431bb27ffb70087325f = $(`<div id="html_79d92cb4ee8e4431bb27ffb70087325f" style="width: 100.0%; height: 100.0%;">64.813</div>`)[0];
            popup_1d85b6add1df476eb4406aea62e93fa1.setContent(html_79d92cb4ee8e4431bb27ffb70087325f);
        

        poly_line_4c8082192e614e3b87e56648b6d32be6.bindPopup(popup_1d85b6add1df476eb4406aea62e93fa1)
        ;

        
    
    
            var poly_line_202a0f7634a7457ebcdfa511552883e3 = L.polyline(
                [[44.2229648, -76.4899015], [44.2229458, -76.4900477], [44.2229661, -76.4901646]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_b344bdaac3ed48d3a4bcbc5058ad0f1f);
        
    
        var popup_fa59ed177847428d8d417c43b8161e75 = L.popup({"maxWidth": "100%"});

        
            var html_e3a53c7846a04a488e967cf5232b7036 = $(`<div id="html_e3a53c7846a04a488e967cf5232b7036" style="width: 100.0%; height: 100.0%;">21.425</div>`)[0];
            popup_fa59ed177847428d8d417c43b8161e75.setContent(html_e3a53c7846a04a488e967cf5232b7036);
        

        poly_line_202a0f7634a7457ebcdfa511552883e3.bindPopup(popup_fa59ed177847428d8d417c43b8161e75)
        ;

        
    
    
            var poly_line_08e2d3102d494020b55a65e34c636f61 = L.polyline(
                [[44.2229661, -76.4901646], [44.2229421, -76.4902006], [44.2228961, -76.490298]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_b344bdaac3ed48d3a4bcbc5058ad0f1f);
        
    
        var popup_4d37c09b40ac43b6a4832aa5e826f1eb = L.popup({"maxWidth": "100%"});

        
            var html_eff82feb2e014c4fb5961f01985052ff = $(`<div id="html_eff82feb2e014c4fb5961f01985052ff" style="width: 100.0%; height: 100.0%;">13.213000000000001</div>`)[0];
            popup_4d37c09b40ac43b6a4832aa5e826f1eb.setContent(html_eff82feb2e014c4fb5961f01985052ff);
        

        poly_line_08e2d3102d494020b55a65e34c636f61.bindPopup(popup_4d37c09b40ac43b6a4832aa5e826f1eb)
        ;

        
    
    
            var poly_line_e6c56f5fc5f140aa9b24390c921eede7 = L.polyline(
                [[44.2228961, -76.490298], [44.2228401, -76.4904092]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_b344bdaac3ed48d3a4bcbc5058ad0f1f);
        
    
        var popup_735c5306a8774f0f8ae496fc007f1a33 = L.popup({"maxWidth": "100%"});

        
            var html_aa1de4924c104617bd78d43760758253 = $(`<div id="html_aa1de4924c104617bd78d43760758253" style="width: 100.0%; height: 100.0%;">10.83</div>`)[0];
            popup_735c5306a8774f0f8ae496fc007f1a33.setContent(html_aa1de4924c104617bd78d43760758253);
        

        poly_line_e6c56f5fc5f140aa9b24390c921eede7.bindPopup(popup_735c5306a8774f0f8ae496fc007f1a33)
        ;

        
    
    
            var poly_line_6a17d16eaf434b97860a119e6bda583f = L.polyline(
                [[44.2228401, -76.4904092], [44.2228096, -76.4904679], [44.2227468, -76.4913154], [44.222754, -76.4913561], [44.2227685, -76.4913802]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_b344bdaac3ed48d3a4bcbc5058ad0f1f);
        
    
        var popup_3641f998c1cf446cae33c83e0b568d4a = L.popup({"maxWidth": "100%"});

        
            var html_d608ba9648ff4990bafab462fe54e099 = $(`<div id="html_d608ba9648ff4990bafab462fe54e099" style="width: 100.0%; height: 100.0%;">79.521</div>`)[0];
            popup_3641f998c1cf446cae33c83e0b568d4a.setContent(html_d608ba9648ff4990bafab462fe54e099);
        

        poly_line_6a17d16eaf434b97860a119e6bda583f.bindPopup(popup_3641f998c1cf446cae33c83e0b568d4a)
        ;

        
    
    
            var poly_line_adc31222c4604969b709906a5dbeac0b = L.polyline(
                [[44.2227685, -76.4913802], [44.2227598, -76.4914437]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_b344bdaac3ed48d3a4bcbc5058ad0f1f);
        
    
        var popup_ede14abe0cb74fba9542c9f1238cad98 = L.popup({"maxWidth": "100%"});

        
            var html_ed320886b4434089b99d5e65a6382ead = $(`<div id="html_ed320886b4434089b99d5e65a6382ead" style="width: 100.0%; height: 100.0%;">5.152</div>`)[0];
            popup_ede14abe0cb74fba9542c9f1238cad98.setContent(html_ed320886b4434089b99d5e65a6382ead);
        

        poly_line_adc31222c4604969b709906a5dbeac0b.bindPopup(popup_ede14abe0cb74fba9542c9f1238cad98)
        ;

        
    
    
            var poly_line_8ecf1fdecb5c41c398b6f1fab89820a1 = L.polyline(
                [[44.2227598, -76.4914437], [44.2227451, -76.491564]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_b344bdaac3ed48d3a4bcbc5058ad0f1f);
        
    
        var popup_49f67de3d03642299337a9b010b0a2c5 = L.popup({"maxWidth": "100%"});

        
            var html_d4f1c74118f14c28b2e196896ca5c6fc = $(`<div id="html_d4f1c74118f14c28b2e196896ca5c6fc" style="width: 100.0%; height: 100.0%;">9.725</div>`)[0];
            popup_49f67de3d03642299337a9b010b0a2c5.setContent(html_d4f1c74118f14c28b2e196896ca5c6fc);
        

        poly_line_8ecf1fdecb5c41c398b6f1fab89820a1.bindPopup(popup_49f67de3d03642299337a9b010b0a2c5)
        ;

        
    
    
            var poly_line_4244e8981a98400798885bf46bd07a96 = L.polyline(
                [[44.2227451, -76.491564], [44.2227388, -76.4915964], [44.2227146, -76.492094], [44.2227187, -76.4921938], [44.2227468, -76.4924489], [44.2227809, -76.4926058]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_b344bdaac3ed48d3a4bcbc5058ad0f1f);
        
    
        var popup_5282ba14da554a6c9c3c7ce33e7111fd = L.popup({"maxWidth": "100%"});

        
            var html_745c829619e54ec49a7e2b7ddcf9b467 = $(`<div id="html_745c829619e54ec49a7e2b7ddcf9b467" style="width: 100.0%; height: 100.0%;">84.01599999999999</div>`)[0];
            popup_5282ba14da554a6c9c3c7ce33e7111fd.setContent(html_745c829619e54ec49a7e2b7ddcf9b467);
        

        poly_line_4244e8981a98400798885bf46bd07a96.bindPopup(popup_5282ba14da554a6c9c3c7ce33e7111fd)
        ;

        
    
    
            var poly_line_bbc6080ef9fd4526a511fb89427a0f3b = L.polyline(
                [[44.2227809, -76.4926058], [44.2228005, -76.4926862]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_b344bdaac3ed48d3a4bcbc5058ad0f1f);
        
    
        var popup_73dfd6231d1248f6b769264c37724795 = L.popup({"maxWidth": "100%"});

        
            var html_d21e2da16c4247829fa8f057ba0c5231 = $(`<div id="html_d21e2da16c4247829fa8f057ba0c5231" style="width: 100.0%; height: 100.0%;">6.767</div>`)[0];
            popup_73dfd6231d1248f6b769264c37724795.setContent(html_d21e2da16c4247829fa8f057ba0c5231);
        

        poly_line_bbc6080ef9fd4526a511fb89427a0f3b.bindPopup(popup_73dfd6231d1248f6b769264c37724795)
        ;

        
    
    
            var poly_line_8369e02576c94be899d40ad3e4ebc9ba = L.polyline(
                [[44.2228005, -76.4926862], [44.2228235, -76.4927784]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_b344bdaac3ed48d3a4bcbc5058ad0f1f);
        
    
        var popup_d76c3dddd9e94ffbb7b43938a30d1a87 = L.popup({"maxWidth": "100%"});

        
            var html_80cfffeec39a49609f4dc4d8d88e49ed = $(`<div id="html_80cfffeec39a49609f4dc4d8d88e49ed" style="width: 100.0%; height: 100.0%;">7.779</div>`)[0];
            popup_d76c3dddd9e94ffbb7b43938a30d1a87.setContent(html_80cfffeec39a49609f4dc4d8d88e49ed);
        

        poly_line_8369e02576c94be899d40ad3e4ebc9ba.bindPopup(popup_d76c3dddd9e94ffbb7b43938a30d1a87)
        ;

        
    
    
            var poly_line_214fa48c1d1a41f497035c5a41616086 = L.polyline(
                [[44.2228235, -76.4927784], [44.2228536, -76.4928795]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_b344bdaac3ed48d3a4bcbc5058ad0f1f);
        
    
        var popup_481ff00fd57442e2b3e6248ebe8f900e = L.popup({"maxWidth": "100%"});

        
            var html_9ced193a5ccf4f9f8573060ad650e214 = $(`<div id="html_9ced193a5ccf4f9f8573060ad650e214" style="width: 100.0%; height: 100.0%;">8.724</div>`)[0];
            popup_481ff00fd57442e2b3e6248ebe8f900e.setContent(html_9ced193a5ccf4f9f8573060ad650e214);
        

        poly_line_214fa48c1d1a41f497035c5a41616086.bindPopup(popup_481ff00fd57442e2b3e6248ebe8f900e)
        ;

        
    
    
            var poly_line_872cc4201f5c4131bf116c57353e9d4c = L.polyline(
                [[44.2228536, -76.4928795], [44.2229675, -76.4932231], [44.2230134, -76.493392], [44.2230346, -76.4934768], [44.2230699, -76.4938662], [44.2230458, -76.4948921], [44.2230559, -76.4949275]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_b344bdaac3ed48d3a4bcbc5058ad0f1f);
        
    
        var popup_f58d5d215c2548c79e20796cd2263e62 = L.popup({"maxWidth": "100%"});

        
            var html_230d779cb4a243ccad372ea094dccb80 = $(`<div id="html_230d779cb4a243ccad372ea094dccb80" style="width: 100.0%; height: 100.0%;">167.825</div>`)[0];
            popup_f58d5d215c2548c79e20796cd2263e62.setContent(html_230d779cb4a243ccad372ea094dccb80);
        

        poly_line_872cc4201f5c4131bf116c57353e9d4c.bindPopup(popup_f58d5d215c2548c79e20796cd2263e62)
        ;

        
    
    
            var poly_line_e202fe482dbc482eaefede07a2269301 = L.polyline(
                [[44.2230559, -76.4949275], [44.2230472, -76.4950102]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_b344bdaac3ed48d3a4bcbc5058ad0f1f);
        
    
        var popup_069911ad2e514f9a8a0cb0b48e4e697d = L.popup({"maxWidth": "100%"});

        
            var html_ee025eca03234db2a29714ce3349b85c = $(`<div id="html_ee025eca03234db2a29714ce3349b85c" style="width: 100.0%; height: 100.0%;">6.661</div>`)[0];
            popup_069911ad2e514f9a8a0cb0b48e4e697d.setContent(html_ee025eca03234db2a29714ce3349b85c);
        

        poly_line_e202fe482dbc482eaefede07a2269301.bindPopup(popup_069911ad2e514f9a8a0cb0b48e4e697d)
        ;

        
    
    
            var poly_line_527b8288bd6349c58f6f1e2dcc087675 = L.polyline(
                [[44.2230472, -76.4950102], [44.2230379, -76.4950916]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_b344bdaac3ed48d3a4bcbc5058ad0f1f);
        
    
        var popup_03ab40da58cb42d783d148b1fb6699c7 = L.popup({"maxWidth": "100%"});

        
            var html_5a34a85d1cbd4ea697d1f8103b1ad8c1 = $(`<div id="html_5a34a85d1cbd4ea697d1f8103b1ad8c1" style="width: 100.0%; height: 100.0%;">6.568</div>`)[0];
            popup_03ab40da58cb42d783d148b1fb6699c7.setContent(html_5a34a85d1cbd4ea697d1f8103b1ad8c1);
        

        poly_line_527b8288bd6349c58f6f1e2dcc087675.bindPopup(popup_03ab40da58cb42d783d148b1fb6699c7)
        ;

        
    
    
            var poly_line_c48f78db36174741bd659dceeb87f14e = L.polyline(
                [[44.2230379, -76.4950916], [44.2229053, -76.4963845]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_b344bdaac3ed48d3a4bcbc5058ad0f1f);
        
    
        var popup_bcdf407f33aa48a195f196d1829e43ac = L.popup({"maxWidth": "100%"});

        
            var html_622e592684374e1fa8afa7a4a35604e9 = $(`<div id="html_622e592684374e1fa8afa7a4a35604e9" style="width: 100.0%; height: 100.0%;">104.076</div>`)[0];
            popup_bcdf407f33aa48a195f196d1829e43ac.setContent(html_622e592684374e1fa8afa7a4a35604e9);
        

        poly_line_c48f78db36174741bd659dceeb87f14e.bindPopup(popup_bcdf407f33aa48a195f196d1829e43ac)
        ;

        
    
    
            var poly_line_6bcb034411e0450b9cecc1ab64cd7322 = L.polyline(
                [[44.2229053, -76.4963845], [44.2229464, -76.4964084], [44.2230163, -76.4964988], [44.2231229, -76.4966086]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_b344bdaac3ed48d3a4bcbc5058ad0f1f);
        
    
        var popup_9a5a39d7b1334a1083297c1249cfee66 = L.popup({"maxWidth": "100%"});

        
            var html_4117a13445c44a84885055e889c313c5 = $(`<div id="html_4117a13445c44a84885055e889c313c5" style="width: 100.0%; height: 100.0%;">30.281</div>`)[0];
            popup_9a5a39d7b1334a1083297c1249cfee66.setContent(html_4117a13445c44a84885055e889c313c5);
        

        poly_line_6bcb034411e0450b9cecc1ab64cd7322.bindPopup(popup_9a5a39d7b1334a1083297c1249cfee66)
        ;

        
    
    
            var poly_line_128f4b81b5d844bd86a68925e226527a = L.polyline(
                [[44.2231229, -76.4966086], [44.2234945, -76.4967501]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_b344bdaac3ed48d3a4bcbc5058ad0f1f);
        
    
        var popup_706d9e6e96e34146ad12ba0f217bc76c = L.popup({"maxWidth": "100%"});

        
            var html_a7ed2209e9e64a10b254170bf2dbcaf8 = $(`<div id="html_a7ed2209e9e64a10b254170bf2dbcaf8" style="width: 100.0%; height: 100.0%;">42.831</div>`)[0];
            popup_706d9e6e96e34146ad12ba0f217bc76c.setContent(html_a7ed2209e9e64a10b254170bf2dbcaf8);
        

        poly_line_128f4b81b5d844bd86a68925e226527a.bindPopup(popup_706d9e6e96e34146ad12ba0f217bc76c)
        ;

        
    
    
            var poly_line_6a55f46366dc453bb76a84601e2f4e07 = L.polyline(
                [[44.2234945, -76.4967501], [44.2236168, -76.4967656], [44.2238721, -76.4967853], [44.2239145, -76.4967887]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_b344bdaac3ed48d3a4bcbc5058ad0f1f);
        
    
        var popup_f045d1ecce1a4fa8b3b7a7ee1aa459ad = L.popup({"maxWidth": "100%"});

        
            var html_34530f5d56954962a4cb31d070536957 = $(`<div id="html_34530f5d56954962a4cb31d070536957" style="width: 100.0%; height: 100.0%;">46.808</div>`)[0];
            popup_f045d1ecce1a4fa8b3b7a7ee1aa459ad.setContent(html_34530f5d56954962a4cb31d070536957);
        

        poly_line_6a55f46366dc453bb76a84601e2f4e07.bindPopup(popup_f045d1ecce1a4fa8b3b7a7ee1aa459ad)
        ;

        
    
    
            var poly_line_87d9b01d7d2a4d4b910d6cf3c2af2a9e = L.polyline(
                [[44.2239145, -76.4967887], [44.2239514, -76.4967984]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_b344bdaac3ed48d3a4bcbc5058ad0f1f);
        
    
        var popup_8d7496b91ad1428a9ca7c7992868c972 = L.popup({"maxWidth": "100%"});

        
            var html_9bf7235dc6b94a089e66543084fe9031 = $(`<div id="html_9bf7235dc6b94a089e66543084fe9031" style="width: 100.0%; height: 100.0%;">4.175</div>`)[0];
            popup_8d7496b91ad1428a9ca7c7992868c972.setContent(html_9bf7235dc6b94a089e66543084fe9031);
        

        poly_line_87d9b01d7d2a4d4b910d6cf3c2af2a9e.bindPopup(popup_8d7496b91ad1428a9ca7c7992868c972)
        ;

        
    
    
            var poly_line_85865deee1aa48e8b6bf31b66e689f40 = L.polyline(
                [[44.2239514, -76.4967984], [44.2238638, -76.4977476]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_b344bdaac3ed48d3a4bcbc5058ad0f1f);
        
    
        var popup_7fb3a96a15e14447b8be696e32072c46 = L.popup({"maxWidth": "100%"});

        
            var html_b85ccd45399e4ec699794c3f19fb99b9 = $(`<div id="html_b85ccd45399e4ec699794c3f19fb99b9" style="width: 100.0%; height: 100.0%;">76.261</div>`)[0];
            popup_7fb3a96a15e14447b8be696e32072c46.setContent(html_b85ccd45399e4ec699794c3f19fb99b9);
        

        poly_line_85865deee1aa48e8b6bf31b66e689f40.bindPopup(popup_7fb3a96a15e14447b8be696e32072c46)
        ;

        
    
    
            map_b344bdaac3ed48d3a4bcbc5058ad0f1f.fitBounds(
                [[44.222199, -76.4977476], [44.2239514, -76.4857335]],
                {}
            );
        
    
            var poly_line_80b2b228a7cf4dc88d5e4f14f08b7bd9 = L.polyline(
                [[44.2238638, -76.4977476], [44.223914, -76.4977719]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_b344bdaac3ed48d3a4bcbc5058ad0f1f);
        
    
        var popup_ed7f5686aafd470bac2349dd9438950c = L.popup({"maxWidth": "100%"});

        
            var html_3715a97216f54912a54b363bcb4f60d2 = $(`<div id="html_3715a97216f54912a54b363bcb4f60d2" style="width: 100.0%; height: 100.0%;">5.908</div>`)[0];
            popup_ed7f5686aafd470bac2349dd9438950c.setContent(html_3715a97216f54912a54b363bcb4f60d2);
        

        poly_line_80b2b228a7cf4dc88d5e4f14f08b7bd9.bindPopup(popup_ed7f5686aafd470bac2349dd9438950c)
        ;

        
    
    
            var poly_line_88d64663a6274d67a1eaf9aeda8e35bf = L.polyline(
                [[44.223914, -76.4977719], [44.2238721, -76.4982252]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_b344bdaac3ed48d3a4bcbc5058ad0f1f);
        
    
        var popup_aebd1ebf4955418f87e8c0633eeec8a3 = L.popup({"maxWidth": "100%"});

        
            var html_b7b12e2e81d04786a4cd6fd45a32a767 = $(`<div id="html_b7b12e2e81d04786a4cd6fd45a32a767" style="width: 100.0%; height: 100.0%;">36.42</div>`)[0];
            popup_aebd1ebf4955418f87e8c0633eeec8a3.setContent(html_b7b12e2e81d04786a4cd6fd45a32a767);
        

        poly_line_88d64663a6274d67a1eaf9aeda8e35bf.bindPopup(popup_aebd1ebf4955418f87e8c0633eeec8a3)
        ;

        
    
    
            var poly_line_105b61e19e374c2b9fa20f1fd865d063 = L.polyline(
                [[44.2238721, -76.4982252], [44.2239134, -76.4982329]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_b344bdaac3ed48d3a4bcbc5058ad0f1f);
        
    
        var popup_d0e8c9db1a354c45bedb4659ad01df74 = L.popup({"maxWidth": "100%"});

        
            var html_3796f8ca1e3e479e9e7fd698c9cddc25 = $(`<div id="html_3796f8ca1e3e479e9e7fd698c9cddc25" style="width: 100.0%; height: 100.0%;">4.633</div>`)[0];
            popup_d0e8c9db1a354c45bedb4659ad01df74.setContent(html_3796f8ca1e3e479e9e7fd698c9cddc25);
        

        poly_line_105b61e19e374c2b9fa20f1fd865d063.bindPopup(popup_d0e8c9db1a354c45bedb4659ad01df74)
        ;

        
    
    
            map_b344bdaac3ed48d3a4bcbc5058ad0f1f.fitBounds(
                [[44.2238638, -76.4982329], [44.223914, -76.4977476]],
                {}
            );
        
    
            var poly_line_4467f95eea994529aded782a901e3475 = L.polyline(
                [[44.2239134, -76.4982329], [44.2238721, -76.4982252]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_b344bdaac3ed48d3a4bcbc5058ad0f1f);
        
    
        var popup_09921067acf0444a90258d66ee5b1988 = L.popup({"maxWidth": "100%"});

        
            var html_70a63564013a4a97aa26b89605d4859d = $(`<div id="html_70a63564013a4a97aa26b89605d4859d" style="width: 100.0%; height: 100.0%;">4.633</div>`)[0];
            popup_09921067acf0444a90258d66ee5b1988.setContent(html_70a63564013a4a97aa26b89605d4859d);
        

        poly_line_4467f95eea994529aded782a901e3475.bindPopup(popup_09921067acf0444a90258d66ee5b1988)
        ;

        
    
    
            var poly_line_1da84e3aae3b4622941cc16b16446839 = L.polyline(
                [[44.2238721, -76.4982252], [44.223914, -76.4977719]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_b344bdaac3ed48d3a4bcbc5058ad0f1f);
        
    
        var popup_0692b7dc2aa844b3b0778671c6409596 = L.popup({"maxWidth": "100%"});

        
            var html_4c163f6713994dbd93c534d72bc90958 = $(`<div id="html_4c163f6713994dbd93c534d72bc90958" style="width: 100.0%; height: 100.0%;">36.42</div>`)[0];
            popup_0692b7dc2aa844b3b0778671c6409596.setContent(html_4c163f6713994dbd93c534d72bc90958);
        

        poly_line_1da84e3aae3b4622941cc16b16446839.bindPopup(popup_0692b7dc2aa844b3b0778671c6409596)
        ;

        
    
    
            var poly_line_adeb0f90c12645afad377af3a21e962e = L.polyline(
                [[44.223914, -76.4977719], [44.2238638, -76.4977476]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_b344bdaac3ed48d3a4bcbc5058ad0f1f);
        
    
        var popup_d470c292139746bbba51c01b4c5f2f20 = L.popup({"maxWidth": "100%"});

        
            var html_1908ee64c902497191ec388a792a972d = $(`<div id="html_1908ee64c902497191ec388a792a972d" style="width: 100.0%; height: 100.0%;">5.908</div>`)[0];
            popup_d470c292139746bbba51c01b4c5f2f20.setContent(html_1908ee64c902497191ec388a792a972d);
        

        poly_line_adeb0f90c12645afad377af3a21e962e.bindPopup(popup_d470c292139746bbba51c01b4c5f2f20)
        ;

        
    
    
            var poly_line_062ae0c3d508471da2fc269f8468bb61 = L.polyline(
                [[44.2238638, -76.4977476], [44.2239514, -76.4967984]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_b344bdaac3ed48d3a4bcbc5058ad0f1f);
        
    
        var popup_e3899f38c6f841538454b93fddbfa855 = L.popup({"maxWidth": "100%"});

        
            var html_d3b42276f3b448578878ab41909e294a = $(`<div id="html_d3b42276f3b448578878ab41909e294a" style="width: 100.0%; height: 100.0%;">76.261</div>`)[0];
            popup_e3899f38c6f841538454b93fddbfa855.setContent(html_d3b42276f3b448578878ab41909e294a);
        

        poly_line_062ae0c3d508471da2fc269f8468bb61.bindPopup(popup_e3899f38c6f841538454b93fddbfa855)
        ;

        
    
    
            var poly_line_35a836be1f174c81ba9bd092858877f6 = L.polyline(
                [[44.2239514, -76.4967984], [44.2239145, -76.4967887]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_b344bdaac3ed48d3a4bcbc5058ad0f1f);
        
    
        var popup_ef3c19460ec348b59b675a81527ad880 = L.popup({"maxWidth": "100%"});

        
            var html_9c408d1d886042e7acee96a24213438e = $(`<div id="html_9c408d1d886042e7acee96a24213438e" style="width: 100.0%; height: 100.0%;">4.175</div>`)[0];
            popup_ef3c19460ec348b59b675a81527ad880.setContent(html_9c408d1d886042e7acee96a24213438e);
        

        poly_line_35a836be1f174c81ba9bd092858877f6.bindPopup(popup_ef3c19460ec348b59b675a81527ad880)
        ;

        
    
    
            var poly_line_8a593659927340cb8f546590e6788626 = L.polyline(
                [[44.2239145, -76.4967887], [44.2238721, -76.4967853], [44.2236168, -76.4967656], [44.2234945, -76.4967501]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_b344bdaac3ed48d3a4bcbc5058ad0f1f);
        
    
        var popup_db8d54fbd1694c348af32d99cccafd98 = L.popup({"maxWidth": "100%"});

        
            var html_03b8d051943b42dc9a55d085d523e435 = $(`<div id="html_03b8d051943b42dc9a55d085d523e435" style="width: 100.0%; height: 100.0%;">46.808</div>`)[0];
            popup_db8d54fbd1694c348af32d99cccafd98.setContent(html_03b8d051943b42dc9a55d085d523e435);
        

        poly_line_8a593659927340cb8f546590e6788626.bindPopup(popup_db8d54fbd1694c348af32d99cccafd98)
        ;

        
    
    
            var poly_line_d3d8bd05046443d6965a750de253cfc5 = L.polyline(
                [[44.2234945, -76.4967501], [44.2231229, -76.4966086]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_b344bdaac3ed48d3a4bcbc5058ad0f1f);
        
    
        var popup_e040014b5fdb489997e7c03919e32272 = L.popup({"maxWidth": "100%"});

        
            var html_04ad0a7ac9b74b469ef7cf1e04e269fe = $(`<div id="html_04ad0a7ac9b74b469ef7cf1e04e269fe" style="width: 100.0%; height: 100.0%;">42.831</div>`)[0];
            popup_e040014b5fdb489997e7c03919e32272.setContent(html_04ad0a7ac9b74b469ef7cf1e04e269fe);
        

        poly_line_d3d8bd05046443d6965a750de253cfc5.bindPopup(popup_e040014b5fdb489997e7c03919e32272)
        ;

        
    
    
            var poly_line_443513bf9b0f4ff1b7e61715869bd0f6 = L.polyline(
                [[44.2231229, -76.4966086], [44.2230163, -76.4964988], [44.2229464, -76.4964084], [44.2229053, -76.4963845]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_b344bdaac3ed48d3a4bcbc5058ad0f1f);
        
    
        var popup_33752a15877c41f584f7030d57d44b5b = L.popup({"maxWidth": "100%"});

        
            var html_49e151e0945349bb8fb718d062af1856 = $(`<div id="html_49e151e0945349bb8fb718d062af1856" style="width: 100.0%; height: 100.0%;">30.281</div>`)[0];
            popup_33752a15877c41f584f7030d57d44b5b.setContent(html_49e151e0945349bb8fb718d062af1856);
        

        poly_line_443513bf9b0f4ff1b7e61715869bd0f6.bindPopup(popup_33752a15877c41f584f7030d57d44b5b)
        ;

        
    
    
            var poly_line_bd537a957055482d82a004d458d005ef = L.polyline(
                [[44.2229053, -76.4963845], [44.2230379, -76.4950916]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_b344bdaac3ed48d3a4bcbc5058ad0f1f);
        
    
        var popup_af7a7a9490954a548929d2f1e7156672 = L.popup({"maxWidth": "100%"});

        
            var html_8c2271e6293147f4a566a50d0db34493 = $(`<div id="html_8c2271e6293147f4a566a50d0db34493" style="width: 100.0%; height: 100.0%;">104.076</div>`)[0];
            popup_af7a7a9490954a548929d2f1e7156672.setContent(html_8c2271e6293147f4a566a50d0db34493);
        

        poly_line_bd537a957055482d82a004d458d005ef.bindPopup(popup_af7a7a9490954a548929d2f1e7156672)
        ;

        
    
    
            var poly_line_b7a87a27f58f4213930c58540b018e28 = L.polyline(
                [[44.2230379, -76.4950916], [44.2230472, -76.4950102]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_b344bdaac3ed48d3a4bcbc5058ad0f1f);
        
    
        var popup_7864116a9f4d498f8084acf60eef44db = L.popup({"maxWidth": "100%"});

        
            var html_3ae9eb912fb1443292b3b31e821535dc = $(`<div id="html_3ae9eb912fb1443292b3b31e821535dc" style="width: 100.0%; height: 100.0%;">6.568</div>`)[0];
            popup_7864116a9f4d498f8084acf60eef44db.setContent(html_3ae9eb912fb1443292b3b31e821535dc);
        

        poly_line_b7a87a27f58f4213930c58540b018e28.bindPopup(popup_7864116a9f4d498f8084acf60eef44db)
        ;

        
    
    
            var poly_line_1243318578784a549a43c3f8d2b90c56 = L.polyline(
                [[44.2230472, -76.4950102], [44.2230559, -76.4949275]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_b344bdaac3ed48d3a4bcbc5058ad0f1f);
        
    
        var popup_0a8c8af41d1449a2b081a917aac8aca4 = L.popup({"maxWidth": "100%"});

        
            var html_af5d9a8c64cd44879de22eaaaefd9821 = $(`<div id="html_af5d9a8c64cd44879de22eaaaefd9821" style="width: 100.0%; height: 100.0%;">6.661</div>`)[0];
            popup_0a8c8af41d1449a2b081a917aac8aca4.setContent(html_af5d9a8c64cd44879de22eaaaefd9821);
        

        poly_line_1243318578784a549a43c3f8d2b90c56.bindPopup(popup_0a8c8af41d1449a2b081a917aac8aca4)
        ;

        
    
    
            var poly_line_a672759ad4df4b58ba41757f2235015d = L.polyline(
                [[44.2230559, -76.4949275], [44.2230458, -76.4948921], [44.2230699, -76.4938662], [44.2230346, -76.4934768], [44.2230134, -76.493392], [44.2229675, -76.4932231], [44.2228536, -76.4928795]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_b344bdaac3ed48d3a4bcbc5058ad0f1f);
        
    
        var popup_7bfa1cd39e924460bbe7c26676edd7a4 = L.popup({"maxWidth": "100%"});

        
            var html_181063ea564a4736aa8b0e9fe068c983 = $(`<div id="html_181063ea564a4736aa8b0e9fe068c983" style="width: 100.0%; height: 100.0%;">167.825</div>`)[0];
            popup_7bfa1cd39e924460bbe7c26676edd7a4.setContent(html_181063ea564a4736aa8b0e9fe068c983);
        

        poly_line_a672759ad4df4b58ba41757f2235015d.bindPopup(popup_7bfa1cd39e924460bbe7c26676edd7a4)
        ;

        
    
    
            var poly_line_b6e64824c12041ad81666791526296f2 = L.polyline(
                [[44.2228536, -76.4928795], [44.2228235, -76.4927784]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_b344bdaac3ed48d3a4bcbc5058ad0f1f);
        
    
        var popup_c100c08b0015436cba7561c13c4bf5b7 = L.popup({"maxWidth": "100%"});

        
            var html_cc56c2bf5cbe4f2194d27a0a2a83979d = $(`<div id="html_cc56c2bf5cbe4f2194d27a0a2a83979d" style="width: 100.0%; height: 100.0%;">8.724</div>`)[0];
            popup_c100c08b0015436cba7561c13c4bf5b7.setContent(html_cc56c2bf5cbe4f2194d27a0a2a83979d);
        

        poly_line_b6e64824c12041ad81666791526296f2.bindPopup(popup_c100c08b0015436cba7561c13c4bf5b7)
        ;

        
    
    
            var poly_line_a1093ee9dfd74b6da5981b57a4ac3241 = L.polyline(
                [[44.2228235, -76.4927784], [44.2228005, -76.4926862]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_b344bdaac3ed48d3a4bcbc5058ad0f1f);
        
    
        var popup_1a15d3454f3b4298aa90cb02720f3e03 = L.popup({"maxWidth": "100%"});

        
            var html_730693fb0db34a689d60ea858a58ddff = $(`<div id="html_730693fb0db34a689d60ea858a58ddff" style="width: 100.0%; height: 100.0%;">7.779</div>`)[0];
            popup_1a15d3454f3b4298aa90cb02720f3e03.setContent(html_730693fb0db34a689d60ea858a58ddff);
        

        poly_line_a1093ee9dfd74b6da5981b57a4ac3241.bindPopup(popup_1a15d3454f3b4298aa90cb02720f3e03)
        ;

        
    
    
            var poly_line_534adf3f97e3406195f0fb1154224743 = L.polyline(
                [[44.2228005, -76.4926862], [44.2227809, -76.4926058]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_b344bdaac3ed48d3a4bcbc5058ad0f1f);
        
    
        var popup_df2c7369f2a94982831dfffc6a3b1a88 = L.popup({"maxWidth": "100%"});

        
            var html_b41c1b5c12534b37a00b37f941a92637 = $(`<div id="html_b41c1b5c12534b37a00b37f941a92637" style="width: 100.0%; height: 100.0%;">6.767</div>`)[0];
            popup_df2c7369f2a94982831dfffc6a3b1a88.setContent(html_b41c1b5c12534b37a00b37f941a92637);
        

        poly_line_534adf3f97e3406195f0fb1154224743.bindPopup(popup_df2c7369f2a94982831dfffc6a3b1a88)
        ;

        
    
    
            var poly_line_66f4bbefb8924613809435f8182393b8 = L.polyline(
                [[44.2227809, -76.4926058], [44.2227468, -76.4924489], [44.2227187, -76.4921938], [44.2227146, -76.492094], [44.2227388, -76.4915964], [44.2227451, -76.491564]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_b344bdaac3ed48d3a4bcbc5058ad0f1f);
        
    
        var popup_f71ffea6be0042fea6cf52a26c918da2 = L.popup({"maxWidth": "100%"});

        
            var html_e42863b428f24f52bd506bcc5e841557 = $(`<div id="html_e42863b428f24f52bd506bcc5e841557" style="width: 100.0%; height: 100.0%;">84.016</div>`)[0];
            popup_f71ffea6be0042fea6cf52a26c918da2.setContent(html_e42863b428f24f52bd506bcc5e841557);
        

        poly_line_66f4bbefb8924613809435f8182393b8.bindPopup(popup_f71ffea6be0042fea6cf52a26c918da2)
        ;

        
    
    
            var poly_line_0b0e5fec49d1493e8837c5e73134744b = L.polyline(
                [[44.2227451, -76.491564], [44.2227598, -76.4914437]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_b344bdaac3ed48d3a4bcbc5058ad0f1f);
        
    
        var popup_b4069eb7e1b44ad38b4bc00968268118 = L.popup({"maxWidth": "100%"});

        
            var html_5722a4d382354146a3d73f7acf93cc71 = $(`<div id="html_5722a4d382354146a3d73f7acf93cc71" style="width: 100.0%; height: 100.0%;">9.725</div>`)[0];
            popup_b4069eb7e1b44ad38b4bc00968268118.setContent(html_5722a4d382354146a3d73f7acf93cc71);
        

        poly_line_0b0e5fec49d1493e8837c5e73134744b.bindPopup(popup_b4069eb7e1b44ad38b4bc00968268118)
        ;

        
    
    
            var poly_line_26ebe75b53674766bd925ebbcf733f20 = L.polyline(
                [[44.2227598, -76.4914437], [44.2226942, -76.4914231]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_b344bdaac3ed48d3a4bcbc5058ad0f1f);
        
    
        var popup_f05630f68e09442f910db866724f2285 = L.popup({"maxWidth": "100%"});

        
            var html_c153ad1770ab4159a773143c93fe786c = $(`<div id="html_c153ad1770ab4159a773143c93fe786c" style="width: 100.0%; height: 100.0%;">7.477</div>`)[0];
            popup_f05630f68e09442f910db866724f2285.setContent(html_c153ad1770ab4159a773143c93fe786c);
        

        poly_line_26ebe75b53674766bd925ebbcf733f20.bindPopup(popup_f05630f68e09442f910db866724f2285)
        ;

        
    
    
            var poly_line_7f158d4a709e4319b6847c6fdddd3d3b = L.polyline(
                [[44.2226942, -76.4914231], [44.2227443, -76.4906208], [44.2227702, -76.4903839]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_b344bdaac3ed48d3a4bcbc5058ad0f1f);
        
    
        var popup_49f307759e854a86ac927c0ad73b8dc2 = L.popup({"maxWidth": "100%"});

        
            var html_b8e28d13143f4bab8658a1801c57b331 = $(`<div id="html_b8e28d13143f4bab8658a1801c57b331" style="width: 100.0%; height: 100.0%;">83.27000000000001</div>`)[0];
            popup_49f307759e854a86ac927c0ad73b8dc2.setContent(html_b8e28d13143f4bab8658a1801c57b331);
        

        poly_line_7f158d4a709e4319b6847c6fdddd3d3b.bindPopup(popup_49f307759e854a86ac927c0ad73b8dc2)
        ;

        
    
    
            var poly_line_0ec994ce1f89426890fbac882ca9cd81 = L.polyline(
                [[44.2227702, -76.4903839], [44.2227885, -76.4902921]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_b344bdaac3ed48d3a4bcbc5058ad0f1f);
        
    
        var popup_c8b7b4b28e5640c0bd761aff0016ef4b = L.popup({"maxWidth": "100%"});

        
            var html_99d176c672d8451fa56cb2b230fdb184 = $(`<div id="html_99d176c672d8451fa56cb2b230fdb184" style="width: 100.0%; height: 100.0%;">7.593</div>`)[0];
            popup_c8b7b4b28e5640c0bd761aff0016ef4b.setContent(html_99d176c672d8451fa56cb2b230fdb184);
        

        poly_line_0ec994ce1f89426890fbac882ca9cd81.bindPopup(popup_c8b7b4b28e5640c0bd761aff0016ef4b)
        ;

        
    
    
            var poly_line_271995191375494bbc22b45a81a6224e = L.polyline(
                [[44.2227885, -76.4902921], [44.2229648, -76.4899015]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_b344bdaac3ed48d3a4bcbc5058ad0f1f);
        
    
        var popup_f4d3e15a029b4dd9be9bb40eb561f345 = L.popup({"maxWidth": "100%"});

        
            var html_759e0124b8894f6eb176fbb80ff027c2 = $(`<div id="html_759e0124b8894f6eb176fbb80ff027c2" style="width: 100.0%; height: 100.0%;">36.784</div>`)[0];
            popup_f4d3e15a029b4dd9be9bb40eb561f345.setContent(html_759e0124b8894f6eb176fbb80ff027c2);
        

        poly_line_271995191375494bbc22b45a81a6224e.bindPopup(popup_f4d3e15a029b4dd9be9bb40eb561f345)
        ;

        
    
    
            var poly_line_10cb85840e0a4db7840ce1834aa17448 = L.polyline(
                [[44.2229648, -76.4899015], [44.2232995, -76.4892356]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_b344bdaac3ed48d3a4bcbc5058ad0f1f);
        
    
        var popup_f594d8746a8548fbafb4f59dd8daacde = L.popup({"maxWidth": "100%"});

        
            var html_2d6a0641153b4fdcb25b064b7a859e17 = $(`<div id="html_2d6a0641153b4fdcb25b064b7a859e17" style="width: 100.0%; height: 100.0%;">64.813</div>`)[0];
            popup_f594d8746a8548fbafb4f59dd8daacde.setContent(html_2d6a0641153b4fdcb25b064b7a859e17);
        

        poly_line_10cb85840e0a4db7840ce1834aa17448.bindPopup(popup_f594d8746a8548fbafb4f59dd8daacde)
        ;

        
    
    
            var poly_line_e89c88a43d644f3989e7abccc14561af = L.polyline(
                [[44.2232995, -76.4892356], [44.2233197, -76.4891951]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_b344bdaac3ed48d3a4bcbc5058ad0f1f);
        
    
        var popup_dea66f2432d94eb699577c501e5a9416 = L.popup({"maxWidth": "100%"});

        
            var html_c521e62ae2774dec8f2772b26dcaa5af = $(`<div id="html_c521e62ae2774dec8f2772b26dcaa5af" style="width: 100.0%; height: 100.0%;">3.932</div>`)[0];
            popup_dea66f2432d94eb699577c501e5a9416.setContent(html_c521e62ae2774dec8f2772b26dcaa5af);
        

        poly_line_e89c88a43d644f3989e7abccc14561af.bindPopup(popup_dea66f2432d94eb699577c501e5a9416)
        ;

        
    
    
            var poly_line_58ced05b5e94482898fe479045fc5794 = L.polyline(
                [[44.2233197, -76.4891951], [44.2232885, -76.4891626]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_b344bdaac3ed48d3a4bcbc5058ad0f1f);
        
    
        var popup_a797175bab9c4a6fbd77039e5f620656 = L.popup({"maxWidth": "100%"});

        
            var html_1e49341a25614fc19b1aa3437ff34f69 = $(`<div id="html_1e49341a25614fc19b1aa3437ff34f69" style="width: 100.0%; height: 100.0%;">4.329</div>`)[0];
            popup_a797175bab9c4a6fbd77039e5f620656.setContent(html_1e49341a25614fc19b1aa3437ff34f69);
        

        poly_line_58ced05b5e94482898fe479045fc5794.bindPopup(popup_a797175bab9c4a6fbd77039e5f620656)
        ;

        
    
    
            var poly_line_6a8989d87067418680371054340d406a = L.polyline(
                [[44.2232885, -76.4891626], [44.2237746, -76.488197]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_b344bdaac3ed48d3a4bcbc5058ad0f1f);
        
    
        var popup_9c4d8fd48eaa4f098dc61c2796bfa3e8 = L.popup({"maxWidth": "100%"});

        
            var html_3d1fa2f794da46fe9dd7ed4e0cbe6c1e = $(`<div id="html_3d1fa2f794da46fe9dd7ed4e0cbe6c1e" style="width: 100.0%; height: 100.0%;">94.032</div>`)[0];
            popup_9c4d8fd48eaa4f098dc61c2796bfa3e8.setContent(html_3d1fa2f794da46fe9dd7ed4e0cbe6c1e);
        

        poly_line_6a8989d87067418680371054340d406a.bindPopup(popup_9c4d8fd48eaa4f098dc61c2796bfa3e8)
        ;

        
    
    
            var poly_line_ab79adcf761d4f08ad9f34aafc5aee31 = L.polyline(
                [[44.2237746, -76.488197], [44.2237548, -76.488177], [44.2229552, -76.4873724], [44.2228881, -76.4872634], [44.2222819, -76.4866822], [44.222199, -76.4865323], [44.2222547, -76.4862487], [44.2223621, -76.4858694], [44.2225464, -76.4857335]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_b344bdaac3ed48d3a4bcbc5058ad0f1f);
        
    
        var popup_ff399794b54f4ddeab9136adec40da9b = L.popup({"maxWidth": "100%"});

        
            var html_3fa09ce665d94c72a50aff2265b75a15 = $(`<div id="html_3fa09ce665d94c72a50aff2265b75a15" style="width: 100.0%; height: 100.0%;">299.768</div>`)[0];
            popup_ff399794b54f4ddeab9136adec40da9b.setContent(html_3fa09ce665d94c72a50aff2265b75a15);
        

        poly_line_ab79adcf761d4f08ad9f34aafc5aee31.bindPopup(popup_ff399794b54f4ddeab9136adec40da9b)
        ;

        
    
    
            map_b344bdaac3ed48d3a4bcbc5058ad0f1f.fitBounds(
                [[44.222199, -76.4982329], [44.2239514, -76.4857335]],
                {}
            );
        
</script>